on: push
jobs:
  fetch_secrets:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Fetch static secrets from Akeyless
        uses: akeyless-community/akeyless-github-action@v1.0.1
        id: fetch-secrets
        with:
          access-id: p-g43du978ur1eom
          access-type: jwt
          static-secrets: |
            - name: "/tina/local-pro"
              output-name: "my_first_secret"
            - name: "/tina/local-pro"
              output-name: "my_second_secret"
      - name: Use Akeyless secret
        run: |
          echo "Step Outputs"
          echo "my_first_secret: ${{ steps.fetch-secrets.outputs.my_first_secret }}" >> secrets.txt
          echo "my_second_secret: ${{ steps.fetch-secrets.outputs.my_second_secret }}" >> secrets.txt
          
          echo "Environment Variables"
          echo "my_first_secret: ${{ env.my_first_secret }}" >> secrets.txt
          echo "my_second_secret: ${{ env.my_second_secret }}" >> secrets.txt